%html
  %head
    %link(type="text/css" rel="stylesheet" href="style.css")
  %body

    %form
      %div
        %input#true(name="true_or_false" type="radio")
          %label(for="false")
            %span
            True
      %div
        %input#false(name="true_or_false" type="radio")
          %label(for="true")
            %span
            False
